<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="czx.wt.mapper.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="czx.wt.pojo.RolePermissionKey" >
    <id column="permit_id" property="permitId" jdbcType="INTEGER" />
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="czx.wt.pojo.RolePermissionKey" >
    delete from role_permission
    where permit_id = #{permitId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="czx.wt.pojo.RolePermissionKey" >
    insert into role_permission (permit_id, role_id)
    values (#{permitId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>

  <!--=Start findByRole 根据角色查询中间表数据-->
  <select id="findByRole" resultType="czx.wt.pojo.RolePermissionKey">
    SELECT role_id,permit_id
    from role_permission
    WHERE role_id=#{roleId}
  </select>
  <!--=End findByRole 根据角色查询中间表数据-->
</mapper>